.modal {
    position: absolute;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0, .5);
    top: 50%;
    left: 50%;
    color: #1d1d1d;
    min-width: 300px;
    min-height: 300px;
}

.modal .close span {
    font-size: 1.5rem;
    color:#D64550;
    cursor: pointer;
}

.modal .content {
    padding: 1rem;
}

.modal.draggable {
    cursor: auto!important;
}