.modal {
    position: absolute;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0, .5);
    top: 20%;
    left: 20%;
    color: #1d1d1d;
    width: fit-content;
    height: fit-content;
    max-width: 70vw;
}

.modal .close {
    background-color: rgba(64, 63, 76, 0.65);
}

.modal .close span {
    font-size: 2rem;
    color:#D64550;
    cursor: pointer;
    padding:0;
    margin: 0;
}

.modal .content {
    padding-top: 1rem;
}

.modal.draggable {
    cursor: auto!important;
}